@{
}
<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card card-header"><h3 class="text-center">Setup - Database Connection String</h3></div>
            <div class="card card-body">
                <div class="lead">
                    <p>In appsettings.json, enter a valid SQL Server ConnectionString and a valid Host</p>
                    <p>The Host needs to match the url of your development or production app as it uses it to match a valid configuration</p>
                </div>
            </div>
            <div class="card card-footer"><p><hr /></p></div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card card-header"><h3 class="text-center">Setup - SQL Server Database</h3></div>
            <div class="card card-body">
                <div class="lead">
                    <p>Run the SQL Server Query file in [...\dotnet-core-multi-tenant-mvc-3\KT.Core.Mvc\Data\usp_Populate_NomadWP.sql) to create three (3) SQL Server tables</p>
                    <p>wp_user, wp_image and wp_post will be created when the SQL File is executed</p>
                </div>
            </div>
            <div class="card card-footer"><p><hr /></p></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card card-header"><h3 class="text-center">Setup - User</h3></div>
            <div class="card card-body">
                <div class="lead">
                    <p><strong>Register</strong> a User at the url: https://localhost:44373/Home/Register or insert the User manually into wp_user</p>
                    <p><strong>Login </strong> at the url: https://localhost:44373/Home/Register</p>
                    <p><strong>Upload Images </strong> at the url: https://localhost:44373/admin/images.html</p>
                    <p>You must pass the image src of a valid image address in the Download Image Input</p>
                    <p>You can Add, Edit, Delete or Search for Images</p>
                </div>
            </div>
            <div class="card card-footer"><p><hr /></p></div>
        </div>
    </div>
</div>