@{
    ViewData["Title"] = "Home Page";
    @using KT.Core.Mvc.Models;
}

<div class="text-center">
    <h1 class="display-2">
        .NET CORE 3.1
    </h1>
    <ol>
        @foreach (kt_wp_post post in Model)
        {
            <li><a href="~/@post.post_name" target="_new" class="btn btn-block">@post.post_name</a></li>
        }
    </ol>
</div>
