@{
    ViewData["Title"] = "Home Page";
    string layout = ViewData["Layout"] as string;
    Layout = layout;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about .NET CORE 3.1 Admin Page.</p>
</div>
