@{
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-2"></div>

    <div class="col-8">

        <div class="mt-4 pt-4">

            <!-- BEGIN LOGIN CARD -->
            <div class="card card-info">
                <a id="login-top" name="login-top" href="#"></a>
                <div class="card-title">
                    <a class="text-dark text-center" title="Account Services">
                        <h1>
                            Login&nbsp;↴&nbsp;
                        </h1>
                    </a>
                </div>
                <div class="card-body">
                    <form id="loginForm" name="loginForm">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Email Address:</label>
                                <input type="email" class="form-control input-md" id="EmailAddress" name="EmailAddress" placeholder="Your Email Address ..." />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Password:</label>
                                <input type="password" class="form-control input-md" id="Password" name="Password" placeholder="Your Password..."  />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-dark btn-block" id="btnSave" onclick="return LoginModule.saveForm('#loginForm');">
                        <i class="fa fa-save"></i>&nbsp;Login
                    </button>
                </div>
            </div>
            <!-- END LOGIN CARD -->

        </div>

    </div>

    <div class="col-2"></div>
</div>

@section Scripts {
<script type="text/javascript" src="../../js/LocalStorageModule.js?id=2"></script>
<script type="text/javascript" src="../../js/HttpModule.js?id=2"></script>
<script type="text/javascript" src="../../js/PageModule.js?id=2"></script>
<script type="text/javascript" src="../../js/LoginPageModule.js?id=2"></script>

<!--BEGIN JAVASCRIPT CODE -->

<script type="text/javascript">

    const LoginModule = LoginPageModule;
    $(document).ready(function () {
        LoginModule.init();
    });

</script>
}