@{
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-2"></div>

    <div class="col-8">

        <div class="mt-4 pt-4">

            <!-- BEGIN LOGIN CARD -->
            <div class="card card-info">
                <a id="login-top" name="login-top" href="#"></a>
                <div class="card-title">
                    <a class="text-dark text-center" title="Account Services">
                        <h1>
                            Register&nbsp;↴&nbsp;
                        </h1>
                    </a>
                </div>
                <div class="card-body">
                    <form id="loginForm" name="loginForm">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>First Name:</label>
                                <input type="text" class="form-control input-md" id="first_name" placeholder="Your First Name ..." />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last Name:</label>
                                <input type="text" class="form-control input-md" id="last_name" placeholder="Your Last Name ..." />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Email Address:</label>
                                <input type="email" class="form-control input-md" id="user_email" placeholder="Your Email Address ..." />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Password:</label>
                                <input type="password" class="form-control input-md" id="user_pass"  placeholder="Your Password..." />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-dark btn-block" id="btnSave" onclick="return RegisterModule.saveForm('#loginForm');">
                        <i class="fa fa-save"></i>&nbsp;Register
                    </button>
                </div>
            </div>
            <!-- END LOGIN CARD -->

        </div>

    </div>

    <div class="col-2"></div>
</div>

@section Scripts {
    <script type="text/javascript" src="../../scripts/LocalStorageModule.js"></script>
    <script type="text/javascript" src="../../scripts/HttpModule.js"></script>
    <script type="text/javascript" src="../../scripts/PageModule.js"></script>
    <script type="text/javascript" src="../../scripts/RegisterPageModule.js"></script>

    <!--BEGIN JAVASCRIPT CODE -->

    <script type="text/javascript">

    const RegisterModule = RegisterPageModule;
    $(document).ready(function () {
        RegisterModule.init();
    });

    </script>
}