@using System.Text.RegularExpressions;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">.NET CORE Multi Tenant</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMenu">
                    <form class="form-inline my-0 my-lg-0" method="get" asp-controller="Home" asp-action="Search">
                        <input name="search" id="search" class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light form-control-sm my-0 my-sm-0" type="submit">Search</button>
                    </form>
                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                        </li>
                        <li class="nav-item" id="navItemLogin">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item" id="navItemLogout" style="display:none;">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Login">Logout</a>
                        </li>
                        <li class="nav-item dropdown" id="navItemAdminMenu">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                            <div class="dropdown-menu" aria-labelledby="">
                                <a class="dropdown-item" href="/admin/images.html">Images</a>
                                <a class="dropdown-item" href="/admin/users.html">Users</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            <nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light text-center">
                &copy; 2020 - .NET CORE Multi Tenant
            </nav>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/LocalStorageModule.js" asp-append-version="true"></script>
    <script src="~/js/PageModule.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="false"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
